<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>WeatherBugThreadTime</param-name>
        <param-value>0</param-value>
    </context-param>
    <context-param>
        <param-name>DatabaseConfigFile</param-name>
        <param-value>NWTiS.db.config_mysql.xml</param-value>
    </context-param>
    <context-param>
        <param-name>ServerSocketPort</param-name>
        <param-value>8000</param-value>
    </context-param>
    <context-param>
        <param-name>wb_ckey</param-name>
        <param-value>yobuPflGiu0vWznpgj2C6iEzz3uYVtvQ</param-value>
    </context-param>
    <context-param>
        <param-name>wb_skey</param-name>
        <param-value>tEr9ztufAJAA9Yai</param-value>
    </context-param>
    <context-param>
        <param-name>emailServer</param-name>
        <param-value>127.0.0.1</param-value>
    </context-param>
    <context-param>
        <param-name>emailPort</param-name>
        <param-value>25</param-value>
    </context-param>
    <context-param>
        <param-name>emailInboxDir</param-name>
        <param-value>INBOX</param-value>
    </context-param>
    <context-param>
        <param-name>emailServisEmail</param-name>
        <param-value>servis@nwtis.nastava.foi.hr</param-value>
    </context-param>
    <context-param>
        <param-name>emailServisPassword</param-name>
        <param-value>123456</param-value>
    </context-param>
    <context-param>
        <param-name>emailAdminEmail</param-name>
        <param-value>admin@nwtis.nastava.foi.hr</param-value>
    </context-param>
    <context-param>
        <param-name>emailAdminPassword</param-name>
        <param-value>654321</param-value>
    </context-param>
    <context-param>
        <param-name>emailSubject</param-name>
        <param-value>HWTiS Stetistika</param-value>
    </context-param>
    <filter>
        <filter-name>ApplicationFilter</filter-name>
        <filter-class>org.foi.nwtis.kdomic.filters.ApplicationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ApplicationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>org.foi.nwtis.kdomic.listeners.ApplicationListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>GeoMeteoWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DodajAdresu</servlet-name>
        <servlet-class>org.foi.nwtis.kdomic.controls.jsp.DodajAdresu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledAdresa</servlet-name>
        <servlet-class>org.foi.nwtis.kdomic.controls.jsp.PregledAdresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeteoPodaci</servlet-name>
        <servlet-class>org.foi.nwtis.kdomic.controls.jsp.MeteoPodaci</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeoMeteoWS</servlet-name>
        <url-pattern>/GeoMeteoWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajAdresu</servlet-name>
        <url-pattern>/DodajAdresu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledAdresa</servlet-name>
        <url-pattern>/PregledAdresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeteoPodaci</servlet-name>
        <url-pattern>/MeteoPodaci</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>dodajAdresu.jsp</welcome-file>
    </welcome-file-list>
</web-app>
