table {
    border-collapse: collapse;
    background-color: salmon;
    width: 95%;
}

table, th, td {
    border: 1px solid #ccc;
}

td{
    padding: 10px;
}

thead {
    background-color: moccasin;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: oldlace;    
    text-indent: 5px;
}

tbody tr:nth-child(odd) {
    background-color: whitesmoke;
    text-indent: 5px;
}