<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>EmailReaderThreadTime</param-name>
        <param-value>3600</param-value>
    </context-param>
    <context-param>
        <param-name>emailServer</param-name>
        <param-value>127.0.0.1</param-value>
    </context-param>
    <context-param>
        <param-name>emailPort</param-name>
        <param-value>25</param-value>
    </context-param>
    <context-param>
        <param-name>emailInboxDir</param-name>
        <param-value>INBOX</param-value>
    </context-param>
    <context-param>
        <param-name>emailNWTiSDir</param-name>
        <param-value>NWTiS_IspravnePoruke</param-value>
    </context-param>
    <context-param>
        <param-name>emailOtherDir</param-name>
        <param-value>NWTiS_OstalePoruke</param-value>
    </context-param>
    <context-param>
        <param-name>emailServisEmail</param-name>
        <param-value>servis@nwtis.nastava.foi.hr</param-value>
    </context-param>
    <context-param>
        <param-name>emailServisPassword</param-name>
        <param-value>123456</param-value>
    </context-param>
    <context-param>
        <param-name>emailAdminEmail</param-name>
        <param-value>admin@nwtis.nastava.foi.hr</param-value>
    </context-param>
    <context-param>
        <param-name>emailAdminPassword</param-name>
        <param-value>654321</param-value>
    </context-param>
    <context-param>
        <param-name>emailSubject</param-name>
        <param-value>NWTiS_Statistika</param-value>
    </context-param>
    <context-param>
        <param-name>portfolioAddressNumMin</param-name>
        <param-value>1</param-value>
    </context-param>
    <context-param>
        <param-name>portfolioAddressNumMax</param-name>
        <param-value>5</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jms/NWTiS_QF_kdomic_1</res-ref-name>
        <res-type>javax.jms.ConnectionFactory</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <message-destination-ref>
        <message-destination-ref-name>jms/NWTiS_kdomic_1</message-destination-ref-name>
        <message-destination-type>javax.jms.Queue</message-destination-type>
        <message-destination-usage>Produces</message-destination-usage>
        <message-destination-link>jms/NWTiS_kdomic_1</message-destination-link>
    </message-destination-ref>
</web-app>
